<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755651604053-inuns2l8fgnd1tmj111av3jcnj7v6si1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755651604053-inuns2l8fgnd1tmj111av3jcnj7v6si1</string>
	<key>API_KEY</key>
	<string>AIzaSyA3UecuAcB6vWP0EkiJIOdB6apwXwKHdso</string>
	<key>GCM_SENDER_ID</key>
	<string>755651604053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-16fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-16fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755651604053:ios:5d89fa70e4b965dc7c6edc</string>
</dict>
</plist>